

.container {  
    max-width: 1350px;  
    width: 100%;  
    margin: 50px;  
    height: auto;  
    display: block;  
  }  
    
  body {  
    color: #ca1515;  
    font-size: 20px;  
    font-family: Verdana, Arial, Helvetica, monospace;  
    background-image: url("agent.jpg"); 
    background-size: cover;
    opacity: 0.8; 
  }  
    
  h2 {  
    text-align: center;  
  }  
    
  .form_group {  
    padding: 10px;  
    ;    
  display: block;  
  }  
    
  label {  
    float: left;  
    padding-right: 50px;  
    line-height: 10%;  
    display: block;  
    width: 208px;  
  }   